.category {
    margin-left: 20px; /* Отступ слева между категориями */
    text-decoration: none; /* Убираем подчеркивание ссылок */
    color: #333; /* Цвет текста категорий */
    font-size: 1em; /* Размер шрифта категорий */
    transition: transform 0.3s ease, color 0.3s ease; /* Плавный переход для зума и изменения цвета */
  }
  
  .category:hover {
    transform: scale(1.1); /* Масштабирование категории при наведении */
    color: #007bff; /* Изменение цвета текста при наведении */
  }